* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  /* background: rgb(202, 235, 202); */
  /* background: #a6e2a4; */
}

/* *************************** ************************************************* */
/* *********************** Mobile first **************************************** */
/* *************************** ************************************************* */

@media screen and (min-width: 320px) {
  /* *************************** **************************************************/
  /* ***********************  Navigation ******************************************/
  /* *************************** **************************************************/

  /* *************************** **************************************************/
  /* *********************** Page Accueil *****************************************/
  /* *************************** **************************************************/

  .presentation .presentation_left {
    width: 100%;
  }
  .presentation .presentation_left img {
    width: 95%;
    margin: 1rem 8px;
  }
  .bloc_apropos {
    width: 100%;
    text-align: center;
    line-height: 1.5;
  }
  .bloc_apropos h2 {
    text-align: center;
    font-size: 23px;
  }
  .bloc_apropos span {
    text-align: center;
    font-size: 18px;
  }
  .bloc_apropos p {
    text-align: center;
    font-size: 16px;
  }
  .presentation_right {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 5px;
  }
  .presentation_right h2 {
    color: #00b050;
    text-align: center;
    font-size: 30px;
    margin-top: 3rem;
  }
  .title_association {
    font-size: 20px;
    text-align: center;
    color: #00b050;
  }
  .presentation_right span {
    font-size: 25px;
    color: #00b050;
  }
  .presentation_right p {
    text-align: center;
    font-size: 17px;
    margin: 20px 20px;
    line-height: 1.5;
  }
  .present_garden {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title_garden {
    font-size: 20px;
    text-align: center;
    color: #00b050;
    margin: 20px 10px 20px;
  }
  .title_garden i {
    margin-inline: 5px;
    color: #00b050;
  }

  .present_garden h2 i {
    font-size: 25px;
    color: #00b050;
  }

  .img_transforme img {
    width: 95%;
    margin: 1rem 8px;
  }
  .jardin_thorigny h2 {
    font-size: 20px;
    text-align: center;
    color: #00b050;
    width: 90%;
  }
  .jardin_thorigny h3 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 1rem;
  }
  .jardin_thorigny p {
    font-size: 17px;
    text-align: center;
    line-height: 1.5;
    margin: 20px;
  }
  .histoire {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 20px 40px;
  }
  .histoire h2 {
    font-size: 21px;
    text-align: center;
    margin: 1rem 10px 1rem;
    color: #00b050;
    width: 90%;
  }
  .histoire h3 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 1rem;
  }
  .histoire p {
    font-size: 17px;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 2rem;
  }
  .bloc_img_right img {
    width: 95%;
    height: 30rem;
    margin: 1rem 8px;
    object-fit: cover;
  }
  /* *************************** **************************************************/
  /* *********************** Footer **********************************************/
  /* ****************************************************************************/

  .footer_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
  }
  .footer_block .liens_utiles h4 {
    font-size: 25px;
    text-align: center;
    margin: 2rem auto;
  }
  .footer_block .liens_utiles .mairie {
    width: 10rem;
    margin-bottom: 2rem;
  }
  .footer_block .liens_utiles .mairie p {
    color: #fff;
  }
  .footer_block .liens_utiles .mairie img {
    width: 5rem;
  }
  .social_media h4 {
    font-size: 20px;
    text-align: center;
    margin: 20px auto;
  }

  footer .fa-facebook {
    font-size: 30px;
    margin: 30px;
  }
  footer .fa-instagram {
    font-size: 30px;
    margin: 30px;
    background-clip: text;
    background: radial-gradient(
      circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  footer .fa-x-twitter {
    font-size: 30px;
    margin: 30px;
    color: #000;
  }
  .dev {
    text-align: center;
    line-height: 1.5;
  }
  .dev span {
    font-size: 16px;
  }
  .dev p {
    font-size: 16px;
    margin: 20px;
  }

  /* *************************** **************************************************/
  /* *********************** Page Accueil *****************************************/
  /* *************************** **************************************************/

  .actu_section h2 {
    font-size: 18px;
    text-align: center;
    margin: 4rem 5px 20px;
  }
  .actu_section h2 i {
    font-size: 25px;
    color: #00b050;
    margin-inline: 10px;
  }
  .bloc_actu_section {
    line-height: 1.5;
    text-align: center;
    width: 95%;
  }
  .bloc_actu_section .texte {
    margin: 30px 20px;
  }
  .bloc_actu_section .texte h4 {
    font-size: 15px;
    margin-bottom: 20px;
  }
  .bloc_actu_section .texte ul {
    margin-top: 20px;
  }
  .bloc_actu_section .texte ul li {
    list-style: none;
  }

  .bloc_img_up {
    margin: 20px;
  }
  .bloc_img_up img {
    width: 95%;
    height: 10rem;
    object-fit: cover;
  }
  .bloc_img_dawn {
    margin: 20px;
  }
  .bloc_img_dawn img {
    width: 95%;
    height: 10rem;
    object-fit: cover;
  }
  .poulailler {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }
  .poulailler h2 {
    font-size: 18px;
    margin-bottom: 2rem;
    text-align: center;
  }
  .poulailler p {
    font-size: 16px;
    margin: 20px;
  }

  .bloc_astuces_left .box_astuces img {
    width: 90%;
    height: 16rem;
    object-fit: cover;
    margin-top: 10px;
    border-radius: 10px;
  }
  .box_astuces p {
    font-size: 16px;
    text-align: center;
    margin: 20px 30px;
    line-height: 1.5;
    border: 2px dashed #00b050;
    padding: 10px;
  }
  .bloc_astuces_left .box_astuces h4 {
    font-size: 20px;
    margin: 20px;
    color: #00b050;
  }
  .bloc_astuces_right {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    text-align: center;
    width: 95%;
  }
  .bloc_astuce_right_img img {
    width: 80%;
    height: 16rem;
    object-fit: cover;
    margin-bottom: 2rem;
  }

  /* *************************** **************************************************/
  /* *********************** Page Défis climatiques********************************/
  /* *************************** **************************************************/

  .title_climat {
    font-size: 20px;
    text-align: center;
    margin: 2rem;
    color: #00b050;
  }

  .bloc_climat .boxe {
    text-align: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 1.5;
    margin: 20px;
    background: #fff;
    width: 90%;
    height: 10rem;
    border-radius: 10px;
    border: 1px solid #00b050;
  }
  .bloc_climat .boxe h3 {
    width: 100%;
    font-size: 16px;
    text-align: center;
    color: #00b050;
  }

  .bloc_climat .boxe p {
    text-align: center;
    margin: 2px;
    width: 90%;
  }
  .bloc_climat .boxe i {
    font-size: 30px;
    margin-right: 10px;
    color: #92ee24;
  }
  .actu_asso {
    margin: 20px;
    line-height: 1.5;
    text-align: center;
  }
  .boxe_centre h1 {
    font-size: 20px;
    text-align: center;
  }
  .bloc_paillage {
    border: 1px dashed;
    border-radius: 10px;
    background: aliceblue;
    margin-bottom: 2rem;
  }
  .bloc_paillage img {
    width: 90%;
    height: 16rem;
    object-fit: cover;
    margin-top: 10px;
    border-radius: 10px;
  }

  .bloc_auxiliaires img {
    width: 95%;
    height: 16rem;
    object-fit: cover;
    margin-top: 20px;
    border-radius: 10px;
  }
  .bloc_paillage h1 {
    font-size: 20px;
    text-align: center;
    margin: 15px;
  }

  .bloc_auxiliaires h4 {
    text-align: center;
    font-size: 20px;
    margin: 20px;
  }
  .bloc_auxiliaires {
    border: 1px dashed;
    border-radius: 10px;
    background: aliceblue;
    margin-bottom: 2rem;
  }
  .section_auxiliaires {
    text-align: center;
    line-height: 1.5;
    margin: 20px 20px 3rem 20px;
  }
  .bloc_auxiliaires h1 {
    font-size: 20px;
    text-align: center;
    margin: 15px;
  }
  .actu_asso p,
  .section_auxiliaires p {
    font-size: 16px;
    text-align: center;
    margin: 5px 20px;
    line-height: 1.5;
  }

  /* *************************** **************************************************/
  /* *********************** Page Astuces *****************************************/
  /* *************************** **************************************************/

  .astuces {
    text-align: center;
    margin: 2rem auto 3rem;
  }
  .astuces h2 {
    text-align: center;
    font-size: 23px;
    margin-bottom: 25px;
    color: #00b050;
  }
  .bloc_astuces_left {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .box_astuces {
    width: 90%;
    border: 1px dashed;
    border-radius: 10px;
    background: aliceblue;
    margin-bottom: 2rem;
  }

  /* *************************** **************************************************/
  /* *********************** Footer ***********************************************/
  /* *************************** **************************************************/
  .bloc_footer_desktop {
    display: none;
  }
  .bloc_footer_mobile {
    display: block;
  }
  .bloc_footer_mobile .footer_block_mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    background: #a6e2a4;
    flex-wrap: wrap;
    border-top: 1px solid #000;
  }
  .footer_block_mobile .mairie_mobile {
    margin: 20px;
  }
  .footer_block_mobile .mairie_mobile img {
    width: 4rem;
  }
  .footer_block_mobile .mairie_mobile p {
    font-size: 14px;
  }
  .footer_block_mobile .social_media_mobile {
    margin-bottom: 20px;
  }
  .footer_block_mobile .social_media_mobile h4 {
    font-size: 14px;
    text-align: center;
    margin: 20px auto;
  }
  .footer_block_mobile .dev_mobile {
    line-height: 1.9;
    margin-bottom: 10px;
  }
  .footer_block_mobile .dev_mobile span {
    font-size: 14px;
    text-align: center;
  }
  .footer_block_mobile .dev_mobile p {
    font-size: 14px;
    text-align: center;
  }

  .bloc_footer_desktop .social_media .fa-facebook {
    font-size: 25px;
    margin-inline: 15px;
    margin-bottom: 30px;
  }
  .bloc_footer_desktop .social_media .fa-instagram {
    font-size: 25px;
    margin-inline: 15px;
    margin-bottom: 30px;
    background-clip: text;
    background: radial-gradient(
      circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .bloc_footer_desktop .social_media .fa-x-twitter {
    font-size: 25px;
    margin-inline: 15px;
    margin-bottom: 30px;
    color: #000;
  }

  /* .bloc_footer_mobile .footer_mobile {
    border-top: 2px solid #000;
    text-align: center;
    height: auto;
    background: #a6e2a4;
  }
  .bloc_footer_mobile .mairie_mobile img {
    width: 5rem;
    margin: 25px auto 20px;
  }
  .bloc_footer_mobile .mairie_mobile p {
    font-size: 16px;
    margin: 20px;
  } */
}

/* *************************** **************************************************/
/* *********************** Mode tablette ****************************************/
/* *************************** **************************************************/

@media screen and (min-width: 768px) {
  /* *************************** **************************************************/
  /* *********************** Logo et Open navbar **********************************/
  /* *************************** **************************************************/

  /* *************************** **************************************************/
  /* *********************** Page Accueil *****************************************/
  /* *************************** **************************************************/
  .img_transforme img {
    width: 100%;
    height: 30rem;
    margin: 1rem 8px;
    object-fit: cover;
  }
  .presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem auto 3rem;
  }
  .presentation .presentation_left img {
    width: 95%;
    margin: 1rem 20px;
  }
  .present_garden {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  .img_transforme {
    width: 45%;
  }
  .histoire {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 20px;
    width: 45%;
    height: 30rem;
  }
  .histoire p {
    font-size: 16px;
    text-align: center;
    line-height: 1.4;
    margin-bottom: 2rem;
  }
  .title_garden {
    font-size: 22px;
    text-align: center;
    margin: 20px 10px 20px;
  }
  .title_garden i {
    margin-inline: 10px;
    color: #00b050;
  }
  .bloc_img_right img {
    object-fit: cover;
    width: 95%;
    height: 30rem;
    margin: 1rem 20px;
  }

  /* *************************** ************************************************* */
  /* *********************** Page Actus association******************************* */
  /* *************************** ************************************************* */

  .actu_section h2 {
    font-size: 25px;
    text-align: center;
    margin: 25px 10px 20px;
  }

  .actu_section h2 i {
    font-size: 25px;
    color: #00b050;
    margin-inline: 5px;
  }
  .bloc_actu_section .texte h4 {
    font-size: 18px;
    margin-bottom: 20px;
    margin-left: 3rem;
  }

  .bloc_actu_section .texte ul {
    font-size: 17px;
    margin-top: 20px;
    list-style: none;
    text-align: justify;
  }
  .texte span {
    font-size: 17px;
  }
  .poulailler p {
    font-size: 17px;
    margin: 20px;
  }

  /* ***************************************************************************** */
  /* *********************** Page Défis Climatique******************************** */
  /* **************************************************************************** */

  .title_climat {
    text-align: center;
    font-size: 25px;
    margin-top: 25px auto;
  }

  .bloc_climat .boxe {
    text-align: center;
    display: flex;
    align-items: center;
    line-height: 1.5;
    margin: 20px auto;
    width: 30rem;
  }

  .bloc_climat .boxe i {
    font-size: 30px;
    margin: 10px;
    color: #92ee24;
  }
  .bloc_climat .boxe h3 {
    width: 100%;
    font-size: 18px;
    text-align: center;
    margin-bottom: 16px;
  }
  .boxe_left img,
  .bloc_paillage img,
  .boxe_auxiliaires_left img,
  .bloc_auxiliaires img {
    width: 30rem;
    height: 16rem;
    object-fit: cover;
    margin-top: 20px;
  }
  .actu_asso p,
  .section_auxiliaires p {
    font-size: 17px;
    text-align: center;
    margin: 5px 20px;
  }

  /* ***************************************************************************** */
  /* *********************** Page Astuces **************************************** */
  /* **************************************************************************** */

  .astuces h2 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 2rem;
  }
  .bloc_img_up img {
    width: 70%;
    height: 20rem;
    object-fit: cover;
  }
  .bloc_img_dawn img {
    width: 70%;
    height: 20rem;
    object-fit: cover;
  }

  .bloc_astuces_left .box_astuces img {
    width: 80%;
    height: 18rem;
    object-fit: cover;
    margin-top: 20px;
  }

  .bloc_astuces_left .box_astuces {
    width: 90%;
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px auto;
  }
  .bloc_astuce_right_img img {
    width: 30rem;
    height: 18rem;
    object-fit: cover;
    margin-bottom: 2rem;
  }
  .box_astuces p {
    font-size: 16px;
    text-align: center;
    margin: 20px 30px;
    line-height: 1.5;
    border: 2px dashed #00b050;
    padding: 10px;
  }

  /* *************************** ************************************************* */
  /* *********************** Footer ********************************************** */
  /* *************************** ************************************************* */
  .bloc_footer_mobile {
    display: none;
  }
  .bloc_footer_desktop {
    display: block;
  }
  .bloc_footer_desktop .footer_block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    background: #a6e2a4;
    flex-wrap: wrap;
    border-top: 1px solid #000;
  }
  .bloc_footer_desktop .mairie img {
    width: 4rem;
  }
  .bloc_footer_desktop .mairie p {
    font-size: 12px;
  }
  .bloc_footer_desktop .dev span {
    font-size: 12px;
  }
  .bloc_footer_desktop .dev p {
    font-size: 12px;
    margin: 20px;
  }
  .bloc_footer_desktop .dev {
    font-size: 13px;
    text-align: center;
  }
  .bloc_footer_desktop .mairie {
    margin: 10px;
  }
  .bloc_footer_desktop .social_media h4 {
    font-size: 14px;
    text-align: center;
    margin: 20px auto;
  }
  .bloc_footer_desktop .social_media .fa-facebook {
    font-size: 25px;
    margin-inline: 15px;
    margin-bottom: 30px;
  }
  .bloc_footer_desktop .social_media .fa-instagram {
    font-size: 25px;
    margin-inline: 15px;
    margin-bottom: 30px;
    background-clip: text;
    background: radial-gradient(
      circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .bloc_footer_desktop .social_media .fa-x-twitter {
    font-size: 25px;
    margin-inline: 15px;
    margin-bottom: 30px;
    color: #000;
  }
}

/* *************************** ************************************************* */
/* *********************** Mode mini desktop************************************ */
/* *************************** ************************************************* */

@media (min-width: 769px) {
  /* *************************** ************************************************* */
  /* ***********************Footer ********************************************** */
  /* *************************** ************************************************* */
  .bloc_footer_mobile {
    display: none;
  }
  .bloc_footer_desktop {
    display: block;
  }
  .bloc_footer_desktop .footer_block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    background: #a6e2a4;
    flex-wrap: wrap;
    border-top: 1px solid #000;
  }
  .bloc_footer_desktop .mairie img {
    width: 4rem;
  }
  .bloc_footer_desktop .mairie p {
    font-size: 12px;
  }
  .bloc_footer_desktop .dev span {
    font-size: 12px;
  }
  .bloc_footer_desktop .dev p {
    font-size: 12px;
    margin: 20px;
  }
  .bloc_footer_desktop .dev {
    font-size: 13px;
    text-align: center;
  }
  .bloc_footer_desktop .mairie {
    margin: 10px;
  }
  .bloc_footer_desktop .social_media h4 {
    font-size: 14px;
    text-align: center;
    margin: 20px auto;
  }
  .bloc_footer_desktop .social_media .fa-facebook {
    font-size: 25px;
    margin-inline: 15px;
    margin-bottom: 30px;
  }
  .bloc_footer_desktop .social_media .fa-instagram {
    font-size: 25px;
    margin-inline: 15px;
    margin-bottom: 30px;
    background-clip: text;
    background: radial-gradient(
      circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .bloc_footer_desktop .social_media .fa-x-twitter {
    font-size: 25px;
    margin-inline: 15px;
    margin-bottom: 30px;
    color: #000;
  }
}

/* *************************** ************************************************* */
/* *********************** Mode desktop***************************************** */
/* *************************** ************************************************* */

@media screen and (min-width: 880px) {
  /* *************************** ************************************************* */
  /* *********************** Navigation ***************************************** */
  /* *************************** ************************************************* */

  /* *************************** ************************************************* */
  /************************ Page accueil *****************************************/
  /* *************************** ************************************************* */

  .presentation_association {
    margin-top: 2rem;
  }

  /* *************************** ************************************************* */
  /********************** présentation association ********************************/
  /* *************************** ************************************************* */

  h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2rem;
  }

  .presentation {
    display: block;
    width: 100%;
    margin-top: 6rem;
  }
  .presentation .presentation_right {
    width: 45%;
    padding: 10px;
    height: 35rem;
    border: 1px dashed gray;
  }
  .presentation .presentation_left {
    width: 45%;
  }

  .presentation .presentation_left img {
    float: left;
    width: 100%;
    height: 35rem;
    object-fit: cover;
    margin: 0 30px auto 20px;
  }

  .presentation_left h2 {
    background-color: black;
    color: aliceblue;
    width: 26rem;
    text-align: center;
    padding: 1rem;
  }

  .bloc_apropos {
    width: 28rem;
    background-color: black;
    text-align: center;
    line-height: 1.5;
  }

  .bloc_apropos span {
    font-size: 20px;
    color: aliceblue;
  }

  .bloc_apropos p {
    color: aliceblue;
    font-size: 15px;
    line-height: 1.6;
  }

  .initial {
    font-size: 35px;
    color: black;
    letter-spacing: 0.7rem;
  }

  .title_association {
    text-transform: capitalize;
    letter-spacing: 1px;
    text-align: center;
    font-size: 23px;
    color: #00b050;
  }

  .title_association span {
    color: black;
  }

  .presentation_right p {
    font-size: 18px;
    text-align: justify;
    color: black;
    line-height: 1.5;
  }

  /* *************************** ************************************************* */

  .jardin_thorigny {
    width: 45%;
    padding: 10px;
    height: 35rem;
    border: 1px dashed gray;
    margin: 0 30px auto 20px;
  }
  .bloc_home {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 6rem 0 4rem;
  }
  .bloc_img_right {
    width: 45%;
    float: right;
  }
  .bloc_img_right img {
    float: right;
    width: 100%;
    height: 35rem;
    object-fit: cover;
    margin: 0 70px auto 0px;
  }
  .histoire {
    width: 45%;
    padding: 10px;
    height: 35rem;
    border: 1px dashed gray;
  }

  .jardin_thorigny a {
    color: blue;
    text-decoration: none;
  }

  .jardin_thorigny h2 {
    color: #00b050;
  }

  .jardin_thorigny p {
    color: #000;
    text-align: center;
    font-size: 18px;
  }

  .histoire h2 {
    font-size: 20px;
    color: #000;
    margin-top: 5rem;
  }

  .histoire a {
    color: blue;
    text-decoration: none;
  }

  .histoire h3 {
    text-align: center;
    font-size: 20px;
    color: #000;
    margin-bottom: 2rem;
  }

  .histoire p {
    text-align: center;
    font-size: 16px;
    text-align: justify;
  }

  /* *************************** ************************************************* */
  /* ********************** Présntation jardins des pointes********************* */
  /* *************************** ************************************************* */

  .presentation_garden {
    width: 100%;
    margin-top: 6rem;
  }
  .present_garden {
    width: 100%;
    display: block;
  }

  .img_transforme {
    width: 45%;
  }

  .present_garden img {
    float: left;
    width: 100%;
    height: 35rem;
    object-fit: cover;
    margin: 0 30px auto 20px;
  }

  .title_garden {
    font-size: 30px;
    color: #00b050;
    margin-bottom: 4rem;
  }
  .presentation_garden h2 i {
    font-size: 25px;
    color: #00b050;
    margin-inline: 20px;
  }

  .present_garden p {
    font-size: 18px;
    text-align: justify;
    color: #000;
    line-height: 1.5;
  }

  /* *************************** ************************************************* */
  /* ************************** Bloc climat ************************************ */
  /* *************************** ************************************************* */

  .climat {
    margin: 6rem auto;
  }

  .title_climat {
    font-size: 30px;
    color: #00b050;
    text-align: center;
    margin-bottom: 6rem;
  }

  .bloc_climat .boxe h3 {
    font-size: 16px;
    color: #00b050;
    text-align: center;
  }

  .bloc_climat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
    gap: 5px;
  }

  .bloc_climat .boxe {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    width: 12rem;
    height: 20rem;
    text-align: center;
    overflow: hidden;
    background: aliceblue;
    border-radius: 5px;
    border: 1px solid #00b050;
    padding: 10px;
  }

  .bloc_climat .boxe p {
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
  }
  .bloc_climat .boxe .fa-temperature-three-quarters {
    font-size: 30px;
    color: #92ee24;
    margin-top: 9px;
    margin-left: 12px;
  }
  .bloc_climat .boxe .fa-cloud {
    font-size: 28px;
    color: #92ee24;
    margin-top: 8px;
    margin-left: 4px;
  }
  .bloc_climat .boxe .fa-magnifying-glass {
    font-size: 28px;
    color: #92ee24;
    margin-top: 11px;
    margin-left: 8px;
  }
  .bloc_climat .boxe .fa-tractor {
    font-size: 28px;
    color: #92ee24;
    margin-top: 11px;
    margin-left: 3px;
  }

  .bloc_climat .boxe i {
    font-size: 30px;
    color: #92ee24;
    margin-left: 6px;
  }

  .diapo {
    width: 100%;
    margin-top: 6rem;
  }

  /* *************************** ************************************************* */
  /* *********************** Bloc Actu association ***************************** */
  /* *************************** ************************************************* */

  .actu_asso {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }

  .actu_asso h1 {
    width: 100%;
    font-size: 30px;
    color: #00b050;
    text-align: center;
    margin-bottom: 6rem;
  }

  .bloc_paillage {
    display: flex;
    align-items: center;
    width: 22rem;
    height: 35rem;
    flex-direction: column;
    justify-content: space-around;
    background: aliceblue;
    border-radius: 10px;
  }
  .bloc_paillage img {
    width: 20rem;
    height: 16rem;
    object-fit: cover;
    margin-bottom: 22px;
    border-radius: 10px;
  }
  .bloc_paillage h4 {
    font-size: 18px;
    text-align: center;
    color: #00b050;
  }

  .bloc_paillage p {
    font-size: 16px;
    text-align: justify;
  }

  /* *************************** ************************************************* */
  /* ********************** Bloc Actualité Association ************************* */
  /* *************************** ************************************************* */

  .actu_section {
    margin-top: 6rem;
  }

  .actu_section h2 {
    font-size: 30px;
    color: #00b050;
    text-align: center;
    margin-bottom: 4rem;
  }

  .bloc_actu_section {
    display: flex;
    width: 100%;
    gap: 2rem;
    margin: 4rem auto 6rem;
  }
  .cadre {
    width: 45rem;
    height: 36rem;
    border: 3px solid #679436;
    padding: 1rem 2rem;
    border-radius: 10px;
    background-color: #ffffff;
    overflow: hidden;
  }

  .cadre_int {
    border: 2px solid #679436;
    border-radius: 10px;
    text-align: center;
  }
  .bloc_img_up {
    display: flex;
    width: 100%;
  }
  .bloc_img_dawn {
    display: flex;
  }

  .bloc_img_up .photo_right {
    width: 10rem;
    height: 15rem;
    border-top-right-radius: 10px;
  }

  .bloc_img_up .photo_left {
    width: 23rem;
    height: 15rem;
    border-top-left-radius: 10px;
    object-fit: cover;
  }
  .bloc_img_dawn .photo_right {
    width: 24rem;
    height: 15rem;
    margin-left: -18px;
    border-bottom-right-radius: 10px;
    object-fit: cover;
  }

  .bloc_img_dawn .photo_left {
    width: 10rem;
    height: 15rem;
    border-bottom-left-radius: 10px;
    object-fit: cover;
  }

  .bloc_actu_section .texte {
    width: 40rem;
    text-align: center;
    line-height: 1.6;
  }
  .bloc_actu_section .texte ul li {
    font-size: 20px;
    line-height: 1.6;
    list-style: none;
  }

  .bloc_actu_section .texte h4 {
    font-size: 25px;
    text-align: center;
  }
  .texte span {
    color: black;
    font-size: 20px;
    margin-left: 10px;
  }

  /* *************************** ************************************************* */
  /* ************************ Bloc Astuces Jardinage *************************** */
  /* *************************** ************************************************* */
  .poulailler {
    width: 100%;
  }

  .poulailler h2 {
    font-size: 30px;
    color: #00b050;
    margin-bottom: 4rem;
  }

  .astuces {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    margin-top: 3rem;
  }

  .astuces h2 {
    font-size: 30px;
    width: 100%;
    margin-bottom: 6rem;
  }

  .bloc_astuces_left .box_astuces {
    display: flex;
    align-items: center;
    width: 15rem;
    height: 32rem;
    flex-direction: column;
    background: aliceblue;
    border-radius: 10px;
  }

  .bloc_astuces_left {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 1em;
    justify-content: center;
  }

  .bloc_astuces_left .box_astuces img {
    width: 13rem;
    height: 14rem;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 10px;
  }

  .bloc_astuce_right img {
    width: 22rem;
    height: 38rem;
    object-fit: cover;
    margin-top: 20px;
    border-radius: 10px;
  }

  .bloc_astuces_left .box_astuces h4 {
    font-size: 15px;
    color: #00b050;
    margin: 20px auto;
    text-align: center;
  }

  .bloc_astuces_left p {
    font-size: 15px;
    height: auto;
    line-height: 1.6;
    text-align: justify;
    margin: 5px 10px;
  }

  /* *************************** ************************************************* */
  /* ***************** Bloc Les auxiliaires du jardiniers  ********************* */
  /* *************************** ************************************************* */

  .section_auxiliaires {
    display: flex;
    margin: 6rem 10px;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .section_auxiliaires h1 {
    font-size: 30px;
    color: #00b050;
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }

  .bloc_auxiliaires h1 {
    font-size: 40px;
    text-align: center;
    margin: 5rem 6px 2rem;
  }

  .bloc_auxiliaires {
    display: flex;
    align-items: center;
    width: 20rem;
    height: 35rem;
    flex-direction: column;
    justify-content: space-around;
    background: aliceblue;
    border-radius: 10px;
  }
  .bloc_auxiliaires img {
    width: 18rem;
    height: 16rem;
    object-fit: cover;
    margin-bottom: 22px;
    border-radius: 10px;
  }
  .bloc_auxiliaires h4 {
    font-size: 18px;
    text-align: center;
    color: #00b050;
  }

  .bloc_auxiliaires p {
    font-size: 20px;
    text-align: justify;
  }

  /* *********** *********** ************************************************* */
  /* *********** *********** Footer ****************************************** */
  /* *********** *********** ************************************************* */

  .bloc_footer_mobile {
    display: none;
  }
  .footer_block {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background: #a6e2a4;
  }
  .mairie {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .mairie img {
    width: 5rem;
  }
  .social_media .fa-facebook {
    font-size: 35px;
    margin-bottom: 2rem;
    margin-inline: 50px;
  }
  .social_media .fa-instagram {
    font-size: 35px;
    margin-bottom: 2rem;
    margin-inline: 50px;
    background-clip: text;
    background: radial-gradient(
      circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .social_media .fa-x-twitter {
    font-size: 35px;
    margin-bottom: 2rem;
    margin-inline: 50px;
    color: #000;
  }
}

/* *************************** ************************************************* */
/* *********************** Large desktop ***************************************** */
/* *************************** ************************************************* */

@media screen and (min-width: 1200px) {
  /* *************************** ************************************************* */
  /* *********************** Navigation ***************************************** */
  /* *************************** ************************************************* */

  /* *************************** ************************************************* */
  /************************ Page accueil *****************************************/
  /* *************************** ************************************************* */

  .presentation_association {
    margin-top: 2rem;
  }

  /* *************************** ************************************************* */
  /********************** présentation association ********************************/
  /* *************************** ************************************************* */

  h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2rem;
  }

  .presentation {
    display: block;
    width: 100%;
    margin-top: 6rem;
  }
  .presentation .presentation_right {
    width: 45%;
    padding: 10px;
    height: 35rem;
    border: 1px dashed gray;
  }
  .presentation .presentation_left {
    width: 45%;
  }

  .presentation .presentation_left img {
    float: left;
    width: 100%;
    height: 35rem;
    object-fit: cover;
    margin: 0 30px auto 20px;
  }

  .presentation_left h2 {
    background-color: black;
    color: aliceblue;
    width: 26rem;
    text-align: center;
    padding: 1rem;
  }

  .bloc_apropos {
    width: 28rem;
    background-color: black;
    text-align: center;
    line-height: 1.5;
  }

  .bloc_apropos span {
    font-size: 20px;
    color: aliceblue;
  }

  .bloc_apropos p {
    color: aliceblue;
    font-size: 15px;
    line-height: 1.6;
  }

  .initial {
    font-size: 35px;
    color: black;
    letter-spacing: 0.7rem;
  }

  .title_association {
    text-transform: capitalize;
    letter-spacing: 1px;
    text-align: center;
    font-size: 23px;
    color: #00b050;
  }

  .title_association span {
    color: black;
  }

  .presentation_right p {
    font-size: 18px;
    text-align: justify;
    color: black;
    line-height: 1.5;
  }

  /* *************************** ************************************************* */

  .jardin_thorigny {
    width: 45%;
    padding: 10px;
    height: 35rem;
    border: 1px dashed gray;
    margin: 0 30px auto 20px;
  }
  .bloc_home {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 6rem 0 4rem;
  }
  .bloc_img_right {
    width: 45%;
    float: right;
  }
  .bloc_img_right img {
    float: right;
    width: 100%;
    height: 35rem;
    object-fit: cover;
    margin: 0 70px auto 0px;
  }
  .histoire {
    width: 45%;
    padding: 10px;
    height: 35rem;
    border: 1px dashed gray;
  }

  .jardin_thorigny a {
    color: blue;
    text-decoration: none;
  }

  .jardin_thorigny h2 {
    color: #00b050;
  }

  .jardin_thorigny p {
    color: #000;
    text-align: center;
    font-size: 18px;
  }

  .histoire h2 {
    font-size: 20px;
    color: #000;
    margin-top: 5rem;
  }

  .histoire a {
    color: blue;
    text-decoration: none;
  }

  .histoire h3 {
    text-align: center;
    font-size: 20px;
    color: #000;
    margin-bottom: 2rem;
  }

  .histoire p {
    text-align: center;
    font-size: 16px;
    text-align: justify;
  }

  /* *************************** ************************************************* */
  /* ********************** Présntation jardins des pointes********************* */
  /* *************************** ************************************************* */

  .presentation_garden {
    width: 100%;
    margin-top: 6rem;
  }
  .present_garden {
    width: 100%;
    display: block;
  }

  .img_transforme {
    width: 45%;
  }

  .present_garden img {
    float: left;
    width: 100%;
    height: 35rem;
    object-fit: cover;
    margin: 0 30px auto 20px;
  }

  .title_garden {
    font-size: 30px;
    color: #00b050;
    margin-bottom: 4rem;
  }
  .presentation_garden h2 i {
    font-size: 25px;
    color: #00b050;
    margin-inline: 20px;
  }

  .present_garden p {
    font-size: 18px;
    text-align: justify;
    color: #000;
    line-height: 1.5;
  }

  /* *************************** ************************************************* */
  /* ************************** Bloc climat ************************************ */
  /* *************************** ************************************************* */

  .climat {
    margin: 6rem auto;
  }

  .title_climat {
    font-size: 30px;
    color: #00b050;
    text-align: center;
    margin-bottom: 6rem;
  }

  .bloc_climat .boxe h3 {
    font-size: 16px;
    color: #00b050;
    text-align: center;
  }

  .bloc_climat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
    gap: 5px;
  }

  .bloc_climat .boxe {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    width: 12rem;
    height: 20rem;
    text-align: center;
    overflow: hidden;
    background: aliceblue;
    border-radius: 5px;
    border: 1px solid #00b050;
    padding: 10px;
  }

  .bloc_climat .boxe p {
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
  }
  .bloc_climat .boxe .fa-temperature-three-quarters {
    font-size: 30px;
    color: #92ee24;
    margin-top: 9px;
    margin-left: 12px;
  }
  .bloc_climat .boxe .fa-cloud {
    font-size: 28px;
    color: #92ee24;
    margin-top: 8px;
    margin-left: 4px;
  }
  .bloc_climat .boxe .fa-magnifying-glass {
    font-size: 28px;
    color: #92ee24;
    margin-top: 11px;
    margin-left: 8px;
  }
  .bloc_climat .boxe .fa-tractor {
    font-size: 28px;
    color: #92ee24;
    margin-top: 11px;
    margin-left: 3px;
  }

  .bloc_climat .boxe i {
    font-size: 30px;
    color: #92ee24;
    margin-left: 6px;
  }

  .diapo {
    width: 100%;
    margin-top: 6rem;
  }

  /* *************************** ************************************************* */
  /* *********************** Bloc Actu association ***************************** */
  /* *************************** ************************************************* */

  .actu_asso {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }

  .actu_asso h1 {
    width: 100%;
    font-size: 30px;
    color: #00b050;
    text-align: center;
    margin-bottom: 6rem;
  }

  .bloc_paillage {
    display: flex;
    align-items: center;
    width: 22rem;
    height: 35rem;
    flex-direction: column;
    justify-content: space-around;
    background: aliceblue;
    border-radius: 10px;
  }
  .bloc_paillage img {
    width: 20rem;
    height: 16rem;
    object-fit: cover;
    margin-bottom: 22px;
    border-radius: 10px;
  }
  .bloc_paillage h4 {
    font-size: 18px;
    text-align: center;
    color: #00b050;
  }

  .bloc_paillage p {
    font-size: 16px;
    text-align: justify;
  }

  /* *************************** ************************************************* */
  /* ********************** Bloc Actualité Association ************************* */
  /* *************************** ************************************************* */

  .actu_section {
    margin-top: 6rem;
  }

  .actu_section h2 {
    font-size: 30px;
    color: #00b050;
    text-align: center;
    margin-bottom: 4rem;
  }

  .bloc_actu_section {
    display: flex;
    width: 100%;
    gap: 2rem;
    margin: 4rem auto 6rem;
  }
  .cadre {
    width: 45rem;
    height: 36rem;
    border: 3px solid #679436;
    padding: 1rem 2rem;
    border-radius: 10px;
    background-color: #ffffff;
    overflow: hidden;
  }

  .cadre_int {
    border: 2px solid #679436;
    border-radius: 10px;
    text-align: center;
  }
  .bloc_img_up {
    display: flex;
    width: 100%;
  }
  .bloc_img_dawn {
    display: flex;
  }

  .bloc_img_up .photo_right {
    width: 10rem;
    height: 15rem;
    border-top-right-radius: 10px;
  }

  .bloc_img_up .photo_left {
    width: 23rem;
    height: 15rem;
    border-top-left-radius: 10px;
    object-fit: cover;
  }
  .bloc_img_dawn .photo_right {
    width: 24rem;
    height: 15rem;
    margin-left: -18px;
    border-bottom-right-radius: 10px;
    object-fit: cover;
  }

  .bloc_img_dawn .photo_left {
    width: 10rem;
    height: 15rem;
    border-bottom-left-radius: 10px;
    object-fit: cover;
  }

  .bloc_actu_section .texte {
    width: 40rem;
    text-align: center;
    line-height: 1.6;
  }
  .bloc_actu_section .texte ul li {
    font-size: 20px;
    line-height: 1.6;
    list-style: none;
  }

  .bloc_actu_section .texte h4 {
    font-size: 25px;
    text-align: center;
  }
  .texte span {
    color: black;
    font-size: 20px;
    margin-left: 10px;
  }

  /* *************************** ************************************************* */
  /* ************************ Bloc Astuces Jardinage *************************** */
  /* *************************** ************************************************* */
  .poulailler {
    width: 100%;
  }

  .poulailler h2 {
    font-size: 30px;
    color: #00b050;
    margin-bottom: 4rem;
  }

  .astuces {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    margin-top: 3rem;
  }

  .astuces h2 {
    font-size: 30px;
    width: 100%;
    margin-bottom: 6rem;
  }

  .bloc_astuces_left .box_astuces {
    display: flex;
    align-items: center;
    width: 20rem;
    height: 36rem;
    flex-direction: column;
    background: aliceblue;
    border-radius: 10px;
  }

  .bloc_astuces_left {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .bloc_astuces_left .box_astuces img {
    width: 18rem;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 10px;
  }

  .bloc_astuce_right img {
    width: 22rem;
    height: 38rem;
    object-fit: cover;
    margin-top: 20px;
    border-radius: 10px;
  }

  .bloc_astuces_left .box_astuces h4 {
    font-size: 18px;
    color: #00b050;
    margin: 20px auto;
    text-align: center;
  }

  .bloc_astuces_left p {
    font-size: 16px;
    height: auto;
    line-height: 1.6;
    text-align: justify;
  }

  /* *************************** ************************************************* */
  /* ***************** Bloc Les auxiliaires du jardiniers  ********************* */
  /* *************************** ************************************************* */

  .section_auxiliaires {
    display: flex;
    margin: 6rem 10px;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .section_auxiliaires h1 {
    font-size: 30px;
    color: #00b050;
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }

  .bloc_auxiliaires h1 {
    font-size: 40px;
    text-align: center;
    margin: 5rem 6px 2rem;
  }

  .bloc_auxiliaires {
    display: flex;
    align-items: center;
    width: 20rem;
    height: 35rem;
    flex-direction: column;
    justify-content: space-around;
    background: aliceblue;
    border-radius: 10px;
  }
  .bloc_auxiliaires img {
    width: 18rem;
    height: 16rem;
    object-fit: cover;
    margin-bottom: 22px;
    border-radius: 10px;
  }
  .bloc_auxiliaires h4 {
    font-size: 18px;
    text-align: center;
    color: #00b050;
  }

  .bloc_auxiliaires p {
    font-size: 20px;
    text-align: justify;
  }

  /* *********** *********** ************************************************* */
  /* *********** *********** Footer ****************************************** */
  /* *********** *********** ************************************************* */

  .bloc_footer_mobile {
    display: none;
  }
  .footer_block {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background: #a6e2a4;
  }
  .mairie {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .mairie img {
    width: 5rem;
  }
  .social_media .fa-facebook {
    font-size: 35px;
    margin-bottom: 2rem;
    margin-inline: 50px;
  }
  .social_media .fa-instagram {
    font-size: 35px;
    margin-bottom: 2rem;
    margin-inline: 50px;
    background-clip: text;
    background: radial-gradient(
      circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .social_media .fa-x-twitter {
    font-size: 35px;
    margin-bottom: 2rem;
    margin-inline: 50px;
    color: #000;
  }
}
